[Unit]
Description=Prometheus exporter for Smartmeter Home
After=network.target

[Service]
User=prometheus
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=./run_home.sh
WorkingDirectory=/home/prometheus/libsml-prometheus-exporter

[Install]
WantedBy=multi-user.target
