[Unit]
Description=Prometheus exporter for Smartmeter Heatpump
After=network.target

[Service]
User=prometheus
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/home/prometheus/libsml-prometheus-exporter/run_heatpump.sh

[Install]
WantedBy=multi-user.target
